@model Student
@{
    Layout = "~/Views/Shared/_mainLayout.cshtml";

}
<style>
    .form-container {
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: 20px auto;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .input-group {
        display: flex;
        align-items: center;
        border-radius: 5px;
        border: 1px solid #ced4da;
        overflow: hidden;
    }

        .input-group .form-control {
            flex: 1;
            border: none;
            padding: 10px;
        }

        .input-group .input-group-addon {
            border: none;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .input-group .form-control:focus {
            outline: none;
            box-shadow: 0 0 0 0.2rem rgba(108, 67, 206, 0.25);
        }

    .btn-warning {
        background-color: #575a89;
        border-color: #6943ce;
        color: aliceblue;
        font-size: 1rem;
        transition: background-color 0.3s ease;
    }

        .btn-warning:hover {
            background-color: #5a37b5;
        }

    .text-danger {
        color: #dc3545;
        font-size: 0.9rem;
        margin-top: 5px;
    }

    .fa {
        display: inline-block;
        font: normal normal normal 14px / 1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        color: #ffc107;
    }

    .form-container {
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        background-color: #ffffff;
        max-width: 730px;
    }

    hr {
        margin-top: -0.6rem;
        margin-left: -1px;
        border: 0;
        border-top: 11px solid #ffc107;
        width: 157px;
        border-radius: 6px;
    }

    .header {
        padding: 6px;
    }

    .currency-symbol {
        color: #ffc107;
        font-size: 1.2em;
    }

    .image {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
</style>
<div class="form-container">
    <div class="row header">
        <div class="col">
            <h3>Edit Student</h3>
            <hr />
        </div>
        <div class="col image">
            <img src="~/Images/undraw_Add_user_re_5oib.png" style="width: 116px;height: 86px;" />
        </div>

    </div>
    <form method="post">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Name" class="form-label">Name</label>
                    <div class="input-group">
                        <input asp-for="Name" type="text" class="form-control" name="Name" vaasp-controller="@Model.Name" />
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    </div>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label asp-for="Email" class="form-label">Email</label>
                    <div class="input-group">
                        <input asp-for="Email" type="email" class="form-control" name="Email" value="@Model.Email" />
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    @if (TempData["Error"] != null)
                    {
                        <span class="text-danger"> @TempData["Error"]</span>

                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Password" class="form-label">Password</label>
                    <div class="input-group">
                        <input asp-for="Password" type="password" class="form-control" name="Password" value="@Model.Password" />
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="University" class="form-label">University</label>
                    <div class="input-group">
                        <input asp-for="University" type="text" class="form-control" name="University" value="@Model.University" />
                    </div>
                    <span asp-validation-for="University" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Specification" class="form-label">Specification</label>
                    <div class="input-group">
                        <input asp-for="Specification" type="text" class="form-control" name="Specification" value="@Model.Specification" />
                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    </div>
                    <span asp-validation-for="Specification" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="Faculty" class="form-label">Faculty</label>
                    <input asp-for="Faculty" type="text" class="form-control" name="Faculty" value="@Model.Faculty" />
                    <span asp-validation-for="Faculty" class="text-danger"></span>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Mobile" class="form-label">Mobile</label>
                    <div class="input-group">
                        <input asp-for="Mobile" type="text" class="form-control" name="Mobile" value="@Model.Mobile" />
                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    </div>
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
            </div>


            <div class="col">
                <div class="form-group">
                    <label asp-for="GraduationYear" class="form-label">GraduationYear</label>
                    <div class="input-group">
                        <input asp-for="GraduationYear" type="text" class="form-control" name="GraduationYear" value="@Model.GraduationYear" />
                    </div>
                    <span asp-validation-for="GraduationYear" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="form-label">Tracks</label>
            <div class="input-group">

                <select class="form-control" size="5" asp-for="TrackID" name="TrackID">
                    @*                     <option value="@ViewBag.studentTrack.Id">@ViewBag.studentTrack.Name</option>
                    *@                    @foreach (var track in ViewBag.tracks)
                    {
                        <option value="@track.Id">@track.Name</option>

                    }
                </select>
            </div>
        </div>



        <input type="hidden" asp-for="Degree" value="@Model.Degree" />
        <input type="hidden" asp-for="IsAccepted" value="@Model.IsAccepted" />

        <button type="submit" class="btn btn-warning">Submit</button>
    </form>
</div>