@model Student
@{
    ViewData["Title"] = "StudentScdule";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h1>StudentScdule</h1>

<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Track.Schedules)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => modelItem.Name)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => modelItem.Track.Schedules)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => modelItem.Email)
                    </td>
                   
                </tr>
            
        </tbody>
    </table>

