@model IEnumerable<Attendence>
@{
    Layout = null;
    var ID = ViewBag.ID;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container mt-5">
        <form>
            <div class="form-group">
                <label for="startDate">Start Date:</label>
                <input type="date" class="form-control" id="startDate">
            </div>
            <div class="form-group">
                <label for="endDate">End Date:</label>
                <input type="date" class="form-control" id="endDate">
            </div>
            <br />
            <button type="button" class="btn btn-primary" id="filterBtn">Filter</button>
        </form>

        <form method="post" action="@Url.Action("ExportToExcel", "Admin", new { ID = ID })">
            <button type="submit" class="btn btn-success mt-3">Export to Excel</button>
        </form>
    </div>

    <table id="departmentTable" class="table table-bordered table-hover m-3">
        <thead>
        <th>Date</th>
        <th>InTime</th>
        <th>OutTime</th>
        <th>Is Present</th>
        <th>Is Late</th>
        <th>Is Absent</th>
        <th>UserName</th>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="7">NO Attendance Data</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Date</td>
                        <td>@item.InTime</td>
                        <td>@item.OutTime</td>
                        <td>@item.IsPresent</td>
                        <td>@item.IsLate</td>
                        <td>@item.IsAbsent</td>
                        <td>@item.User?.Name</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#filterBtn").click(function () {
                var startDate = new Date($("#startDate").val());
                var endDate = new Date($("#endDate").val());

                filterData(startDate, endDate);
            });
        });

        function filterData(startDate, endDate) {
            $("tbody tr").each(function () {
                var rowDate = new Date($(this).find("td:first").text());

                if (rowDate >= startDate && rowDate <= endDate) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }
    </script>
</body>
</html>
