@model IEnumerable<InstructorDetails>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<style>

    table tr th
    {
        background-color:#FCFCFD;
        color:#788193;
        width: 167px;
    }
    table
    {
        font-size: 0.9rem;
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        border-bottom: 1px solid #788193;
    }
    hr
    {
        margin-top: -1rem;
        margin-left: 1px;
        border: 0;
        border-top: 11px solid #ffc107;
        width: 128px;
        border-radius: 6px;
    }
    a{
        color: black;
    }

    .fa-pencil {
        color: #337f33;
        font-size: 1.2rem;
        background-color: #b7e1b6;
        width: 100%;
        text-align: center;
        padding: 3px;
        border-radius: 7px;
    }
    .fa-trash-o {
        color: #ff5c80;
        font-size: 1.2rem;
        padding: 3px;
        background-color: #fbcbd6;
        text-align: center;
        border-radius: 7px;
        width:100%;
    }

    .fa-eye {
        color: #4789f7;
        font-size: 1.2rem;
        background-color: #dae6f9;
        padding: 3px;
        text-align: center;
        border-radius: 7px;
        width: 100%;
    }
    .late
    {
        text-align: center;
        color: #ffc107;
    }
    .Absent
    {
        text-align:center;
        color: #ff5c80;
    }
    .row
    {
        display:flex;
        justify-content:space-between;
    }
    .right
    {
        align-items: center;
        justify-content: center;
        margin: auto;
        display: flex;
        justify-content: right;
        color:black;
    }
    .container
    {


        width: 100%;
        padding-right: 0px; 
        padding-left: 0px; 
        margin-right: auto;
        margin-left: auto;
    }

    .row.search {
        display: flex;
        justify-content: flex-end;
        padding-left: 17px;
    }

    .input-group {
        position: relative;
        width: 233px; 
    }

    .input-group-append {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        padding: 0 10px; 
        background-color: #ffffff; 
        border: 1px solid #788193; 
        border-radius: 0 7px 7px 0;
    }

    .input-group-text {
        background-color: transparent;
        border: none;
        color: #788193; 
        cursor: pointer;
    }
    .alert-danger
    {
        text-align:center;

    }

</style>
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.SuccessMessage
    </div>
}

@if (ViewBag.DeleteErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.DeleteErrorMessage
    </div>
}
<div class="row">
    <div class="col">
        <h1>Instructor</h1>
        <hr />
    </div>
    <div class="col right">
        <a class="btn btn-warning" asp-action="AddInstructor" asp-controller="Admin">Add + </a>
    </div>
</div>
<div class="container">
    <table class="table table-border table-responsive table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Salary</th>
                <th>Late Days</th>
                <th>Absent Days</th>
                <th>Hire Date</th>
                <th style="width:71px">Edit</th>
                <th style="width:71px">Delete</th>
                <th style="width:71px">View</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var instructor in Model)
            {
                <tr>
                    <td>@instructor.Name</td>
                    <td>@instructor.Email</td>
                    <td>@instructor.Salary$</td>
                    <td class="late">@instructor.LateDays</td>
                    <td class="Absent">@instructor.AbsentDays</td>
                    <td>@instructor.HireDate</td>
                    <td><a asp-action="Edit" asp-controller="Admin" asp-route-instructorid=@instructor.Id><i class="fa fa-pencil"></i></a></td>
                    <td><a asp-action="Delete" asp-controller="Admin" asp-route-instructorid=@instructor.Id><i class="fa fa-trash-o"></i></a></td>
                    <td><a asp-action="Details" asp-controller="Admin" asp-route-instructorid=@instructor.Id><i class="fa fa-eye"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
<div class="alert alert-danger" id="noDataMessage" style="display: none;">No data found.</div>

</div>

@section Scripts2 {
    <script>
           $(document).ready(function () {
                $('#myTable').DataTable({
                    paging: true,
                    pageLength: 10,
                    searching: true,
                    ordering: true,
                    info: true
        $(document).ready(function () {
            $('#searchText').on('keyup', function () {
                var searchText = $(this).val().toLowerCase();
                var isAnyRowVisible = false; 

                $('tbody tr').each(function () {
                    var rowData = $(this).text().toLowerCase();
                    if (rowData.indexOf(searchText) === -1) {
                        $(this).hide();
                    } else {
                        $(this).show();
                        isAnyRowVisible = true;
                    }
                });

            
                if (isAnyRowVisible) {
                    $('#noDataMessage').hide();
                } else {
                    $('#noDataMessage').show();
                }
            });
        });
    </script>
}
