@model Instructor
@{
    ViewData["Title"] = "Details";

    Layout = "~/Views/Shared/_mainLayout.cshtml";

}
<style>
    .fa {
        display: inline-block;
        font: normal normal normal 14px / 1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        color: #ffc107;
    }
</style>

<h1>Instructor Details</h1>

<div>
    <h4>@Model.Name Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            InstructorId
        </dt>
        <dd class="col-sm-8">
            @Model.Id
        </dd>
        <dt class="col-sm-4">
            InstructorName
        </dt>
        <dd class="col-sm-8">
            @Model.Name
        </dd>
        <dt class="col-sm-4">
            Email
        </dt>
        <dd class="col-sm-8">
            @Model.Email
        </dd>
        <dt class="col-sm-4">
            Mobile
        </dt>
        <dd class="col-sm-8">
            @Model.Mobile
        </dd>

        @{
            string trackNames = string.Join(", ", Model.TrackInstructors.Select(ti => ti.Track.Name));
        }
        <dt class="col-sm-4">
            tracks
        </dt>
        <dd class="col-sm-8">
            @trackNames
        </dd>

        <dt class="col-sm-4">
            HireDate
        </dt>
        <dd class="col-sm-8">
            @Model.HireDate
        </dd>

        <dt class="col-sm-4">
            Salary
        </dt>
        <dd class="col-sm-8">
            @Model.Salary
        </dd>


        @{
            var matchedTrackInstructors = Model.TrackInstructors
            .Where(ti => ti.Track.SupervisorId == ti.Instructor.Id);
            string trackSupervisor = string.Join(", ", matchedTrackInstructors.Select(ti => ti.Track.Name));
        }
        @if (trackSupervisor.Length > 1)
        {
            <dt class="col-sm-4">
                Supervisor On Track
            </dt>
            <dd class="col-sm-8">
                @trackSupervisor
            </dd>

        }


    </dl>
</div>




<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>