
@*  @model IEnumerable<Instructor>
 *@@{
    var instructor1 = @ViewBag.Instructor;

    ViewData["Title"] = "ViewProfile";
}
<body>

<h1>ViewProfile</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
           @*  <th>HireDate</th>
            <th>Salary</th> *@
           @*  <th>TrackId</th>
            <th>TrackName</th> *@
                <th>Details</th>
        </tr>
    </thead>
    <tbody>


        
            <tr>
                <td>@instructor1.Id</td>
                <td>@instructor1.Name</td>
               @*  <td>@instructor1.HireDate</td>
                <td>@instructor1.Salary</td> *@
           @*  <td>@instructor1.TrackInstructors.TrackId</td>
            <td>@instructor1.TrackInstructors.Track</td> *@
                <td>
                    <a asp-action="Details" asp-controller="Instructor" asp-route-id="@instructor1.Id" class="btn btn-primary">show Instructor Details</a>
                </td>
               
            </tr>
        

    </tbody>
</table>

</body>